#signature= @signature
%br
%a{href: "twitter://timeline"} Twitter Timeline
%a{href: "fb-messenger://"} Facebook Messenger
%a{href: "fb-messenger://user"} Messenger User
%a{href: "whatsapp://send?text=Hello%2C%20World!"} Whatsapp send
%a{href: "whatsapp://app"} Whatsapp