%br
%a{href: "fb-messenger://share?link=https://www.youracclaim.com/badges/13e09aec-71af-4ae7-812e-f95aa1508ff1/public_url"} Messenger Link
%br
%a{href: "whatsapp://send?text=Hello%2C%20World!"} Whatsapp send
%br
%a{href: "weixin://dl"} WeChat