#signature= @signature
%br
%a{href: "twitter://timeline"} Twitter Timeline
%a{href: "fb-messenger://"} Facebook Messenger
%a{href: "fb-messenger://user"} Messenger User
%a{href: "fb-messenger://share?message=Hello%2C%20World!"} Messenger Text
%a{href: "fb-messenger://share?link=https://www.youracclaim.com/badges/13e09aec-71af-4ae7-812e-f95aa1508ff1/public_url"} Messenger Link
%a{href: "whatsapp://send?text=Hello%2C%20World!"} Whatsapp send
%a{href: "whatsapp://app"} Whatsapp